@page "/MyComponent"
@using HybridyApps.MyServices
@using WebDomain

<h3>MyComponent</h3>

<EditForm Model="@MyClass" OnValidSubmit="HandleSubmit">
    <h3 class="text-center"> My Class </h3>
    <div class="card dataForm ">
        <div class="row m-3 ">
            <div class="col-md-4 mb-3">
                <label>House Number</label>
                <InputText @bind-Value="MyClass.Name" class="form-control"></InputText>
            </div>
            <div class="col-md-4 mb-3">
                <label>Description</label>
                <InputText @bind-Value="MyClass.Description" class="form-control"></InputText>
            </div>

            <br />
            <div>
                <button type="submit" class="btn btn-primary m-2">Save</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Inject]
    private IMyHybridClassServices Services{ get; set; }


    public MyClass MyClass = new MyClass();

    public async Task HandleSubmit()
    {
        Services.CreateMyClass(MyClass);
    }
}