@page "/weather"
@using HybridyApps.MyServices
@using WebDomain

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (MyClasses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in MyClasses)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Description</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => Edit(forecast.Id)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => Delete(forecast.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    private IMyHybridClassServices Services { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }

    public IEnumerable<MyClass> MyClasses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MyClasses = await Services.GetMyClassess();
    }

    private void Edit(int id)
    {
        _navigationManager.NavigateTo($"/MyComponent/{id}");
    }

    private async Task Delete(int id)
    {
        await Services.DeleteMyClass(id);
    }
}
