@page "/weather"
@using HybridyApps.MyServices
@using WebDomain

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (MyClasses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in MyClasses)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    private IMyHybridClassServices Services { get; set; }

    public IEnumerable<MyClass> MyClasses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MyClasses = await Services.GetMyClassess();
    }
}
