@page "/AddEditPerson"
@page "/AddEditPerson/{Id:int}"

@rendermode InteractiveServer

@if (Id.HasValue)
{
    <CommonUI.AddEditPerson Id="@Id.Value"></CommonUI.AddEditPerson>
}
else
{
    <p>Id is not provided.</p>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (!Id.HasValue)
        {
            Id = 0;
        }

        return Task.CompletedTask;
    }
}
