<h3>AddEditPerson</h3>

@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json

<EditForm Model="@Person" OnValidSubmit="HandleSubmit">
    <h3 class="text-center"> Person </h3>
    <div class="card dataForm ">
        <div class="row m-3 ">
            <div class="col-md-4 mb-3">
                <label>Person Name</label>
                <InputText @bind-Value="Person.Name" class="form-control"></InputText>
            </div>

            <br />
            <div>
                <button type="submit" class="btn btn-primary m-2">Save</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    private HttpClient _httpClient { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }

    public Person Person { get; set; } = new Person();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            var response = await _httpClient.GetAsync($"Persons/{Id}");
            if (response.IsSuccessStatusCode)
            {
                if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
                {
                    Person = new Person();
                }

                Person = await response.Content.ReadFromJsonAsync<Person>();
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Error: {errorMessage}");
            }
        }
    }

    public async Task HandleSubmit()
    {
        try
        {
            if (Id > 0)
            {
                var response = await _httpClient.PutAsJsonAsync($"Persons/{Person.Id}", Person);
                if (response.IsSuccessStatusCode)
                {
                    _navigationManager.NavigateTo("/PersonList");
                }
                else
                {
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Console.WriteLine($"Error: {errorMessage}");
                }
            }
            else
            {
                var response = await _httpClient.PostAsJsonAsync("Persons", Person);
                if (response.IsSuccessStatusCode)
                {
                    _navigationManager.NavigateTo("/PersonList");
                }
                else
                {
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Console.WriteLine($"Error: {errorMessage}");
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }
}